* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
}

/** Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, .3);
    width: 100%;
}

.icon-brand {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    gap: .5rem;
}

.icon-brand img {
    width: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links .nav-link {
    color: #000000;
    text-decoration: none;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-links .nav-link:hover {
    background-color: rgba(0, 0, 0, .1);
}

.nav-links .btn {
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background: none;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

/** Mobile Navbar */
.mobile-navbar {
    display: none;
}

.mobile-navbar .burger-menu {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mobile-navbar .burger-menu .line {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.mobile-navbar .burger-menu.active .line:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: left;
}

.mobile-navbar .burger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.mobile-navbar .burger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: left;
}

.side-navbar {
    display: none;
    position: fixed;
    top: 55px;
    right: 0;
    width: 50vw;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    overflow: hidden;
    padding: .7rem;
}

.side-navbar.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.side-navbar .nav-links {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.side-navbar .nav-links .nav-link {
    color: #adadad;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: .5em;
}

.side-navbar .nav-links .nav-link:active {
    background-color: #404040;
}


/** Hero Section */
.hero {
    padding: 80px 0;
    display: grid;
    gap: 3rem;
}

.hero .content {
    display: flex;
}

.hero .content .text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero .content .text-content h1 {
    font-size: 3em;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero .content .text-content p {
    font-size: 2em;
}

.hero .showcase img {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 5px 1px #afafaf;
}

/** User profile page */
.about__user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    margin: 80px 0;
}

.about__user-profile img {
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 3px 10px 3px #8d8d8d;
}

/** Login Form */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #657F8E, #1C2428);
}

.login-page .login-form {
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 5px 2px #333;
    padding: 3rem 4rem;
}

.login-page .login-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-page .login-form .field {
    display: flex;
}

.login-page .login-form .field .input-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #555;
}

.login-page .login-form .field .input-text input:focus {
    color: #3D88B4;
}

.login-page .login-form .field .input-text label::after {
    content: " *";
}


/** Operation in Mobile View */
@media only screen and (max-width: 460px) {
    .mobile-navbar {
        display: block;
    }

    .desktop-navbar {
        display: none;
    }

    .side-navbar {
        display: block;
    }
}

/** Utility Class */
.container-fluids {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    padding: 10px 20px 12px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", serif;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background: none;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.btn:focus {
    outline: #000 1px solid;
}

.btn.btn-black {
    background-color: #000;
    color: #fff;
}

.btn.btn-black:hover {
    background-color: #404040;
}

.btn.btn-light {
    background-color: #fff;
    color: #000;
    border: 1px solid #d4d4d4;
}

.btn.btn-light:hover {
    background-color: #d1d1d1;
}