* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .4);
}

.icon-brand {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    gap: .5rem;
}

.icon-brand img {
    width: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links .nav-link {
    color: #000000;
    text-decoration: none;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-links .nav-link:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* Mobile Navbar */
.mobile-navbar {
    display: none;
}

.side-navbar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}

.side-navbar.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.side-navbar button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
    background: none;
    color: white;
    border: none;
}

.side-navbar .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 50%;
}

.side-navbar .nav-links:first-child {
    border-top: #fff 1px solid;
}

.side-navbar .nav-links .nav-link {
    color: white;
    border-bottom: #fff 1px solid;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

@media only screen and (max-width: 460px) {
    .mobile-navbar {
        display: block;
    }

    .desktop-navbar {
        display: none;
    }

    .side-navbar {
        display: block;
    }
}

/* 
 *===============
 * Utility Class
 *===============
*/

.container-fluids {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background: none;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.btn:focus {
    outline: #000 1px solid;
}

.btn.btn-black {
    background-color: #000;
    color: #fff;
}

.btn.btn-black:hover {
    background-color: #404040;
}